In [7]:
import openpyxl   
import pandas as pd
import numpy as np
from pandas import read_excel
import matplotlib.pyplot as plt

In [2]:
raw_data=pd.read_excel("nitrogen.xlsx", engine = 'openpyxl') 
data = pd.DataFrame(raw_data)
data

        sample No      time       ch1       ch2      mean  inverted
0             NaN       [s]       [V]       [V]       [V]       [V]
1             NaN       NaN       NaN       NaN       NaN       NaN
2          -331.0 -0.000007  0.000901  0.000099  0.000256 -0.000256
3          -330.0 -0.000007  0.000801  0.000198  0.000254 -0.000254
4          -329.0 -0.000007  0.000901  0.000595  0.000229 -0.000229
...           ...       ...       ...       ...       ...       ...
131069   130736.0  0.002615  0.000801  0.000595  0.000209 -0.000209
131070   130737.0  0.002615  0.000901  0.000595  0.000236 -0.000236
131071   130738.0  0.002615  0.000701  0.000297  0.000199 -0.000199
131072   130739.0  0.002615  0.000901  0.000198  0.000242 -0.000242
131073   130740.0  0.002615  0.000901  0.000297  0.000244 -0.000244

[131074 rows x 6 columns]

In [78]:
points_candidates = np.argwhere(data['ch1'].to_numpy()[2:]>0.010)

i = 0
points = []
while i<(len(points_candidates)-1):
    distance = points_candidates[i+1][0]-points_candidates[i][0]
    if distance < 200:
        if data['ch1'].to_numpy()[2:][points_candidates[i][0]]>data['ch1'].to_numpy()[2:][points_candidates[i+1][0]]:
            points.append(points_candidates[i][0])
        else:
            points.append(points_candidates[i+1][0])
        i = i + 1

    else:
        points.append(points_candidates[i][0])

    i = i + 1

%matplotlib widget
plt.plot(data['time'].to_numpy()[2:],data['inverted'].to_numpy()[2:])
for i in range(len(points)):
    plt.axvline(x= data['time'].to_numpy()[2:][points[i]], color = 'r')

plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [79]:
def f(x,a,b):
    return a*np.exp(-x/b)

In [80]:
import scipy as scp

In [88]:
indexes = np.arange(points[0],points[1])
%matplotlib widget
plt.plot(data['time'].to_numpy()[2:][indexes],data['inverted'].to_numpy()[2:][indexes])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

array([ 331,  332,  333, ..., 5038, 5039, 5040], dtype=int64)